<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css" />
    <title>Document</title>

  </head>
  <body>
    <div class="frame-parent">
      <div class="frame-child"></div>
      <div class="login-container">
        <div class="masuk-untuk-melanjutkan">Masuk untuk melanjutkan {{ 20**5 }}</div>
        <div class="atau-parent">
          <div class="atau">ATAU</div>
          <div class="kaitkan-dengan-whatsapp-wrapper">
            <div class="kaitkan-dengan-whatsapp">Kaitkan dengan WhatsApp</div>
          </div>
          <div class="kaitkan-dengan-whatsapp-wrapper">
            <div class="lanjutkan-dengan-google">Lanjutkan dengan Google</div>
          </div>
          <div class="kaitkan-dengan-whatsapp-wrapper">
            <div class="lanjutkan-dengan-tiktok">Lanjutkan dengan TikTok</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
